.custom-container {
  max-width: 90%;
  margin: 50px auto;
  display: block !important;
}

.v-container {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-card {
  padding: 40px 20px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #d9dcd1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
}  

.table-header {
  background-color: #E5E5E5;
  text-transform: uppercase;
  cursor: pointer;
  width: 250px !important;
  max-width: 250px !important;
}

.acciones-cell {
  width: 250px;
  max-width: 250px;
  text-align: center !important;
}



.btn-blue {
  text-transform: none;
  background-color: #0E3746;
  color: white;
}

.btn-icon{
  margin: 3px !important;
}

.v-data-table{
  border-radius: 16px;
  text-transform: uppercase;
  /* white-space: nowrap; */
}

.home-container {
  position: relative;
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

.background-image {
  background-image: url('@/assets/logo.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: 300px;
  height: 300px; 
  opacity: 0.3; 
  position: fixed; 
  z-index: 1; 
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #0E3746; 
}

.navbar {
  background-color: #A3DEC3 !important;
  position: initial !important;
  text-align: center;
}

.navbar-icon {
  color: #0E3746;
}

.v-card-title {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px; 
  justify-content: center;
  text-align: center;

}

.drawer {
  background-color: #A3DEC3;
  text-align: center;
}

.headline {
  font-weight: bold;
  color: #0E3746;
}

.drawer-item-title {
  color: #0E3746;
  text-decoration: none;
}

.recuperar-link {
  display: block;
  font-size: 14px;
  color: #5c4dff;
  text-decoration: none;
  cursor: pointer;
  margin: 20px auto 20px;
}

.lock-icon {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

.recuperar-title {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.recuperar-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.mail-field {
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer !important;
}

.v-card--reveal {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}


@media (max-width: 600px) {
  .v-card-title {
    flex-direction: column; 
    padding-right: 4% !important;
    padding-left: 0px !important; 
  }

  .v-app-bar-title {
    font-size:medium;
  }

  .v-toolbar__content > .v-toolbar-title{
    margin-inline-start: 0px;
  }

  .v-btn.navbar-icon {
    width: calc(var(--v-btn-height) + 0px);
    height: calc(var(--v-btn-height) + 0px);
  }

    
  .v-card-title .v-text-field,
  .v-card-title .v-select,
  .v-card-title .v-btn {
    width: 100%; 
    margin-bottom: 15px;
  }
}